<h1>About me</h1>
<br>
<p>The school I'm attending is Corner Canyons High. Im going into junior year. I took a coding class over the summer to learn how to make websites, which you are currently on</p>
