<h1>Get in contact</h1>

<hr>

<h3>Home Address</h3>

<p>116 East Manilla Drive, Draper Utah</p>

<h3>Phone</h3>

<p><%= number_to_phone "8018097538" %></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.003387159901!2d-111.88983978425274!3d40.47519007935844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875280ee626d9979%3A0xc99d95c1685e6d54!2s116+Manilla+Dr%2C+Draper%2C+UT+84020!5e0!3m2!1sen!2sus!4v1502298506015" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>